@page "/"
@using Chatfy.Components.Navbar;
@using Chatfy.Components.ContactPanel;
@using Chatfy.Components.ContentPanel;
@using Chatfy.Components.MessagePanel;
<Navbar />
<div class="d-flex">
    <ContactPanel />
    <div class="d-block w-100">
        <ContentPanel />
        <MessagePanel />
    </div>
</div>